#main {
background-color: #003049;
font-size: 20px;
color: white;
text-align: center;
}
#ny {
background-color: #175676;
color: white;
text-align: center;
}
#aspen {
background-color: #684756;
color: white;
text-align: center;
}
#sb {
background-color: #157145;
color: white;
text-align: center;
}